<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

1.http://www.liquidasset.com/winedata.html をスクレイピングしてvariablesの項目を取得
dataframeに変換する

#
*
-
[x]
[url]
```ruby:hoge.rb
```

In [296]:
from bs4 import BeautifulSoup
import urllib3
from urllib3 import PoolManager

In [307]:
PoolMG= PoolManager()
url = "http://www.liquidasset.com/winedata.html"
html = PoolMG.request("GET",url)
soup = BeautifulSoup(html.data, "html.parser")
texts=soup.text
texts=texts.split("\r\n")
del(texts[0:50]) 
texts[0]=texts[0].strip()
column_names = texts[0].split()

In [309]:
splited_texts=[]
for e in texts:
    splited_texts.append(e.split())
splited_texts= splited_texts[2:-3]

In [310]:
import numpy as np
vals = np.array(splited_texts)
import pandas as pd

In [311]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [312]:

df = pd.DataFrame(vals)
df.columns = column_names
df.index = np.arange(1,39)
df = df.replace(".",np.nan)

In [313]:
#df からnanを含む行を削除する
df_nan_removed=df.dropna()
df_nan_removed

   OBS  VINT   LPRICE2 WRAIN  DEGREES HRAIN TIME_SV
1    1  1952  -0.99868   600  17.1167   160      31
2    2  1953  -0.45440   690  16.7333    80      30
4    4  1955  -0.80796   502  17.1500   130      28
6    6  1957  -1.50926   420  16.1333   110      26
7    7  1958  -1.71655   582  16.4167   187      25
8    8  1959  -0.41800   485  17.4833   187      24
9    9  1960  -1.97491   763  16.4167   290      23
10  10  1961   0.00000   830  17.3333    38      22
11  11  1962  -1.10572   697  16.3000    52      21
12  12  1963  -1.78098   608  15.7167   155      20
13  13  1964  -1.18435   402  17.2667    96      19
14  14  1965  -2.24194   602  15.3667   267      18
15  15  1966  -0.74943   819  16.5333    86      17
16  16  1967  -1.65388   714  16.2333   118      16
17  17  1968  -2.25018   610  16.2000   292      15
18  18  1969  -2.14784   575  16.5500   244      14
19  19  1970  -0.90544   622  16.6667    89      13
20  20  1971  -1.30031   551  16.7667   112      12
21  21  1972  -2.28879   536  14.9833   158      11
22  22  1973  -1.85700   376  17.0667   123      10
23  23  1974  -2.19958   574  16.3000   184       9
24  24  1975  -1.20168   572  16.9500   171       8
25  25  1976  -1.37264   418  17.6500   247       7
26  26  1977  -2.23503   821  15.5833    87       6
27  27  1978  -1.30769   763  15.8167    51       5
28  28  1979  -1.53960   717  16.1667   122       4
29  29  1980  -1.99582   578  16.0000    74       3

In [314]:
#LPRICE2を目的変数として回帰分析する
from sklearn import linear_model as LM

In [326]:
LRmodel = LM.LinearRegression()
y = df_nan_removed['LPRICE2']
x = df_nan_removed[['WRAIN','DEGREES','HRAIN','TIME_SV']]
LRmodel.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [329]:
LRmodel.coef_

array([ 0.00116678,  0.61639244, -0.00386055,  0.02384741])

In [330]:
LRmodel.intercept_

-12.145333576510414